
<h1>Listing URLs</h1>

<table>
  <tr>
    <th>URL</th>
    <th>Short</th>
    <th>ID</th>
  </tr>

  <% @urls.each do |url| %>
    <tr>
      <td><%= url.text %></td>
      <td><%= url.short %></td>
      <td><%= url.id %></td>
    </tr>
  <% end %>
</table>
